html
    head
        title Logic Lab - #{title}
        link(rel='stylesheet', href='/css/main.css')
        script(src='https://kit.fontawesome.com/56e98b4f95.js')
        block scripts
    body
        block content

